/*Base*/
@import 'base/normalize';
@import 'base/fonts';
@import 'base/globals';
@import 'base/variables';
@import 'base/mixins';
@import 'base/animations';
@import 'base/mediaqueries';

/*Layout*/
@import 'layout/section-one';
@import 'layout/section-two';
@import 'layout/section-three';
@import 'layout/section-four';
@import 'layout/section-five';
@import 'layout/section-contact';
@import 'layout/section-footer';

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 767px) {
    nav {
        padding: 1vh 1vh;
    }
    .menu {
        width: 50vw;
    }
    .menu li a {
        font-size: 4vw;
        margin: 0 2.5%;
    }
    .name {
        font-size: 8vw;
    }
    h6 {
        font-size: 4vw;
    }
    .whoami {
        font-size: 4vw;
    }
    #watchme {
        font-size: 6vw;
        margin-top: 1.5rem;
    }
    #section-two {
        display: block;
        margin-bottom: 1rem;
    }
    .section-two-left {
        width: 95%;
    }
    .section-two-right  {
        width: 80%;
        margin-top: 1rem;
        margin-left: 10%;
    }
    .section-two-right h2 {
        font-size: 4vw;
    }
    .image {
        background-repeat: round;
        width: 70vw;
        height: 45vw;
    }
    #section-three {
        margin-bottom: 3rem;
    }
    #section-four {
        margin-bottom: 3rem;
    }
    h3 {
        font-size: 8vw;
    }
    .portfolio-card {
        padding: 0 1rem;
    }
    .portfolio-card p{
        padding: 1rem 0;
    }
    .portfolio-card h4 {
        font-size: 5vw;
    }
    .button-section-four {
        width: 60vw;
        margin-bottom: 4rem;
    }
    #section-five {
        flex-wrap: wrap;
        margin-bottom: 3rem;
    }
    .card {
        width: 90%;
        padding: 7.5%;
    }
    #form-title {
        margin-bottom: 3rem;
    }
    legend {
        font-size: 15px;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .image {
        background-repeat: round;
        min-width: 37vw;
    }
    .card {
        width: 32%;
    }
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body {
        margin: 1% 10%;
    }
    .name {
        font-size: calc(4.5vw - 40%);
    }
    .whoami {
        font-size: calc(2.25vw - 30%);
    }
    #watchme {
        font-size: calc(2vw - 40%);
    }
    .section-two {
        margin-top: 2rem;
    }
    .section-two-right h2 {
        font-size: calc(2.5vw - 40%);
    }
    .section-two-left {
        width: 75%;
    }
    .laptop-image {
        width: 50%;
    }
    /* portfolio images */
    .image {
        min-width: auto;
    }
    .portfolio-card h4 {
        font-size: calc(3vw - 40%);
    }
    .portfolio-card p {
        font-size: 1.25rem;
    }
    .card {
        padding: 3% 5%;
        width: 30%;
    }
}

/* Extra large devices (large laptops and desktops, 1023px and up) */
@media only screen and (min-width: 1023px) {
    .whoami  {
        padding: 0 12.5%;
    }
    .image {
        min-width: auto;
    }
    #section-two {
        min-width: 50vh;
    }
    #section-four {
        padding: 0 2.5%;
    }
    /* section FOUR fantasma a izquierda */
    #about-title  {
        margin-bottom: 4rem;
    }
    .alterego-wrapper {
        width: 35%;
        float: left;
        padding: 0;
        display: block;
        margin-left: 5%;
        margin-top: 2.5%
    }
    .alterego-hover, .alterego-hover:hover {
        left: 0%;
        top: -1px;
        width: 50%;
        height: 99.5%;
    }
    .portfolio-card {
        margin: 2.5rem 0;
    }
    #section-four > div:nth-child(2) {
        width: 60% !important;
        display: flex;
        flex-wrap: wrap;
    }
    
    fieldset {
        margin-left: 5%;
        margin-right: 5%;
    }
}

