/* third section MYWORK starts */
#section-three {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #FFB845;
    padding: 3rem 0 0 0;
    margin-bottom: 5rem;
}
.image {
    width: 30%;
    margin: 1rem auto;
    padding: 0;
    border-radius: 1%;
    background-repeat: round;
}
#philjackson {
    background-image: url('../images/philjackson.png');
}
#bang {
    background-image: url('../images/bang.png');
}
#ownstyle {
    background-image: url('../images/ownstyle.png');
}
#zarzaparrilla {
    background-image: url('../images/zarzaparrilla.png');
}
#lacueva {
    background-image: url('../images/lacueva.png');
}
#oestevaquero {
    background-image: url('../images/oestevaquero.png');
}
.image__img {
    height: 12vh;
    border: 2px solid #FF7F78;
    border-radius: 50%;
}
.image__title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #FFB845;
    text-align: center;
    text-transform: uppercase;
    margin-top: 0.5rem;
    padding: 0 0.25rem;
}

.image__description {
    color: #B38439;
    display: flex;
    align-items: flex-start;
    text-align: center;
}
.image__overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    display: flex;
    font-family: 'retro';
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}
.image__overlay--blur {
    backdrop-filter: blur(5px);
}
.image__overlay > * {
    transform: translateY(-15px);
    transition: transform 0.75s;
}

.image__overlay:hover {
    opacity: 1;
}

.image__overlay:hover > * {
    transform: translateY(15px);
}
/* third section MYWORK ENDS */