/* section four ABOUT ME starts */
#about-title {
    border-bottom: 1px solid #FFB845;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
}
#section-four {
    margin-bottom: 5rem;
}
.alterego-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 2rem;
    padding: 0 25%;
}
.space {
    border: 1px solid #FF7CB0;
    width: 50%;
    filter: drop-shadow(2px 4px 6px #b3504b);
}
.alterego-hover {
    position: absolute;
    top: 0%;
    left: 37.5%;
    opacity: 0;
    transition: opacity 2s ease-out;
    width: 60%;
    height: 100%;
    object-fit: contain;
    width: fit-content;
}
.alterego-hover:hover {
    position: absolute;
    top: 0%;
    left: 37.5%;
    opacity: 1;
    transition: opacity 2s ease-out;
    filter: drop-shadow(2px 4px 6px #000);
}
.portfolio-card h4 {
    font-family: 'retro', sans-serif;
    font-size: 3vw;
    color: #42B3AB;
}
/* section four ABOUT ME ENDS */