/* section FORM STARTS */

#form-title {
    border-bottom: 1px solid #FFB845;
    margin-bottom: 5rem;
    padding-bottom: 1rem;

}
fieldset {
    background: #FFF7E8;
    border: 1px solid #dad5cb;
    color: #764A50;
    box-shadow: rgba(189, 189, 202, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    padding-bottom: 2rem;
    border-radius: 3px;
}
legend {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
label p {
    font-family: 'retro', sans-serif;
    margin-left: 10%;
    
}
input[type="text"], input[type="email"], textarea {
    padding: 1rem;
    width: 80%;
    text-align: center;
    margin: 0px 10%;
    border: 1px solid #dad5cb;
    border-radius: 3px;
}
.checkbox-label {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 10px 0 10px 10%;
}
input[type="checkbox"] {
    /* to apply checkbox style */
    display:none;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 20px;
    width: 20px;
    -webkit-appearance: none;
}
.checkbox-label:before {
    display: flex;
    content: ' ';
    height: 20px;
    width: 20px;
    border: solid 1px #dad5cb;
    background: #fff;
    margin-right: 10px;
}
.checkbox-label:after {
    height: 5px;
    content: ' ';
    display: flex;
    position: absolute;
    top: 6px;
    width: 12px;
    left: 4px;
    border-bottom: solid 2px #42B3AB;
    border-left: solid 2px #42B3AB;
    background: none;
    transform: rotate(-45deg) scale(0);
    transition: transform .1s ease, opacity .1s ease;
    transform-origin: center center;
}
.checkbox-wrapper input[type="checkbox"]:checked + .checkbox-label:after {
    opacity: 1;
    transform: rotate(
-45deg) scale(.8);
}

form > p:nth-child(4), form > p:nth-child(5) {
    padding: 0 10%;
    font-size: 0.75rem;
}
textarea {
    font-family: 'Roboto', sans-serif;
}
#privacy-policy {
    display: flex;
    align-items: center;
}
input[type="submit"] {
    width: 80%;
    margin: 0 auto;
    display: block;
    font-family: 'retro', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: #FFF7E8;
    background-color: #42B3AB;
    padding: 0.5rem;
    border-radius: 3px;
    border: 1px solid;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    text-shadow: 1px 1px 1px rgba(	0, 215, 195, 1);
}
input:focus-visible, textarea:focus-visible {
    box-shadow: 0 0 0 1pt #f7e9cf;
    outline: none;
}
input, input:focus {
    outline: none;
    transition: .1s;
}
textarea:focus {
    outline: none;
}
/* section FORM ENDS */