/* nav menu start */

nav {
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #FFB845;
    margin-bottom: 2rem;
    padding: 1vh 3vh;
}

.nav-image {
    background-image: url("../images/space.jpg");
    width: 8vh;
    height: 8vh;
    background-repeat: round;
    border: 1px solid #FFB845 !important;
    border-radius: 50% !important;
    transition: 50s ease;
}
.menu {
    width: 25vw;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 1vh;
    padding-left: 0;
}
.menu li a {
    width: 100%;
    height: 100%;
    background-color: transparent;
    text-decoration: none;
    color: #B3504B;
    font-family: 'retro', sans-serif;
    font-size: 2vw;
    font-weight: 800;
}
/* nav menu ENDS */


/* description (section 1) starts */

.name {
    color: #00D7C3;
    text-align: center;
    font-family: 'Antonio', sans-serif;
    font-size: 5vw;
    font-weight: 400;
    letter-spacing: -2px;
    text-shadow: 1px 1px 0px rgba(179, 80, 75, .35), 2px 1px 0px rgba(179, 80, 75, .15);
}
#portfolio-title > h6, #about-title > h6, #services-title > h6, #form-title > h6 {
    text-align: center;
    padding-top: 0.5em;
}
.whoami {
    width: 100%;
    text-align: center;
    font-size: 3vw;
    padding: 0 5%;
    font-family: 'Roboto', sans-serif;
    color: #191919;
    margin-top: 3rem;
}
#watchme {
    text-align: center;
    font-family: 'retro', sans-serif;
    color: #B3504B;
    font-size: 2.75vw;
    margin-top: -0.5rem;
}
#watchme span {
    opacity: 0.75;
    transition: 0.5s;
    display: inline-block;
    transform: rotate(180deg);
}
#watchme span:hover {
    opacity: 1;
    display: inline-block;
    transition: 0.5s;
    transform: rotate(360deg);
}
/* decription ENDS */