/* section five SERVICES starts */

#services-title {
    border-bottom: 1px solid #FFB845;
    padding-bottom: 1rem;
}
#section-five {
    display: flex;
    margin-bottom: 5rem;
    padding: 3rem 0 0 0;
}
.card {
    width: 30%;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 15px rgba(66, 179, 171, 0.15);
    margin: 1rem auto;
    padding: 3%;
    border-radius: 1%;
}
.card-image {
    height: 10vh;
    margin: 0.5rem auto 1rem auto;
    display: flex;
    border-radius: 50%;
    border: 1px solid #b3504b;
}
.card h4 {
    text-align: center;
    text-transform: uppercase;
    color: #42B3AB;
    min-height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    font-size: 1.25rem;
}
.card p {
    color: #191919;
    display: flex;
    align-items: flex-start;
    padding-top: 0.5rem;
}

/* section five SERVICES ENDS */