/* SECOND section starts */
#portfolio-title {
    margin-bottom: 1rem;
}
#section-two {
    display: flex;
    margin-bottom: 3rem;
    padding-left: 5%;
    min-height: 40vh;
}
.section-two-left {
    width: 55%;
    display: flex;
    justify-content: center;
    align-self: center;
}
.laptop-image {
    width: 45%;
    height: 50%;
    display: flex;
    align-self: end;
    margin-right: -2.5%;
    transition: 1s;
}

.laptop-image:hover {
    transform: translateX(-1em);
    transition: 1s;
}
.imac-image {
    width: 70%;
    height: 70%;
    display: flex;
    align-self: end;
    margin-left: -10%;
    transition: 1s;
}
.imac-image:hover {
    transition: 1s;
    z-index: 99;
    transform: scale(1.1);
}
.iphone-image {
    width: 20%;
    height: 40%;
    display: flex;
    align-self: end;
    margin-bottom: 1rem;
    margin-left: -15%;
    transition: 1s;
}
.iphone-image:hover {
    transform: translateX(1em);
    transition: 1s;
}
.section-two-right {
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    margin-left: 7.5%;
}

.section-two-right h2 {
    margin: unset;
    font-family: 'Roboto', sans-serif;
    font-size: 3vw;
    font-weight: 400;
    color: #191919;
}
/* SECOND section ENDS */