/* ANIMATION (hover included) section starts */
.animation-one {
  position: relative;
  display: block;
  margin: 0 auto;
  width: fit-content;
  text-align: center;
  animation: move-one 3s 1 ease-in-out;
  transition: all 1000ms ease-in-out;
  height: 0;
}
.old-text,
.new-text {
  display: block;
  overflow: hidden;
  transition: all 1000ms ease-in-out;
  width: fit-content;
}
.old-text {
  height: auto;
  opacity: 1;
  width: fit-content;
}
.new-text {
  color: #ff7f78;
  height: 0;
  opacity: 0;
  width: 0;
}
.animation-one:hover .old-text {
  height: 0px;
  opacity: 0;
  width: 0px;
}
.animation-one:hover .new-text {
  height: auto;
  opacity: 1;
  width: fit-content;
}

@keyframes move-one {
    0%   { opacity: 0; top: -7vh; left:0%; }
    10%  { opacity: 0.1; top: -6vh; left: 0%; }
    20%  { opacity: 0.2; top: -5vh; left: 0%; }
    30%  { opacity: 0.3; top: -4vh; left: 0%; }
    40%  { opacity: 0.4; top: -3vh; left: 0%; }
    50%  { opacity: 0.5; top: -2vh; left: 0%; }
    60%  { opacity: 0.6; top: -1vh; left: 0%; }
    70%  { opacity: 0.7; top: 0vh; left: 0%; }
    80%  { opacity: 0.8; top: 0vh; left: 0%; }
    90%  { opacity: 0.9; top: 0vh; left: 0%; }
    100%  { opacity: 1; top: 0vh; left: 0%; }
}
/* ANIMATION section ends */