/* hs, Buttons, icons buttons, Hovers, Media Queries */
* {
    box-sizing:border-box;
}
html {
    scroll-behavior: smooth;
    background: url('/my-first-static-web/images/background-wallpaper.jpeg');
  }
body {
    margin: 2.5% 10%;
}
h1 {
    margin: unset;
}
h3 {
    margin: unset;
    font-family: 'Antonio', sans-serif;
    font-size: 5vw;
    text-align: center;
    color: #B3504B;
}
h4 {
    margin: unset;
    font-family: 'Antonio', sans-serif;
}
h6 {
    font-family: 'retro', sans-serif;
    font-size: 2vw;
    color: #B3504B;
    margin: 0;
    overflow: hidden;
}
p {
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}

/* Buttons */

.button-section-two {
    font-family: 'retro', sans-serif;
    background-color: #00D7C3;
    width: 90%;
    font-size: 1.25rem;
    border-radius: 3px;
    margin: 1rem auto 2rem 0;
    padding: 0.5rem;
    transition: all 0.25s;
}

.button-section-four  {
    font-family: 'retro', sans-serif;
    background-color: #00D7C3;
    padding: 0.5em;
    border-radius: 3px;
    margin: 1rem 0 2rem 0;
    width: 25vw;
    font-size: 1.25rem;
}
.button-section-two a, .button-section-four a {
    text-decoration: none;
    color: #191919;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}
.button-section-three {
    width: 80%;
    font-weight: bold;
}
.button-section-three a{
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    background-color: #FF7F78;
    font-family: 'retro', sans-serif;
    text-transform: uppercase;
    color: #191919;
    text-decoration: none;
    border-radius: 3px;
    margin-bottom: 3rem;
    padding: 0.5em;
    transition: all 0.5s;
}
.card .button-container a {
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    font-family: 'retro', sans-serif;
    background-color: #00D7C3;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 3px;
    color: #191919;
    margin-top: 3rem;
}
/* buttons ENDS */

/* Icons start*/
.fa:before {
    content: "\f138";
    /* Icon inside button */
    .fa {
        font: normal normal normal 14px/1 FontAwesome;
    }
}
/* Icons ENDS */

/* HOVER section starts */
/* nav hover */
.nav-image:hover {
    background-position-x: 600vh;
    transition: 125s ease;
    cursor: none;
}
.menu li a:hover {
    color: #FF7F78;
}
/* boton section two(go to portfolio) */
.button-section-two:hover {
    box-shadow: 0 0 1px 0 #00d7c3 inset, 0 0 4px 1px #00d7c3;
    letter-spacing: 2px;
    text-shadow: 1px 3px 1px rgba(	0, 215, 195, 1);
    transition: all 0.25s;
    color: white;
}
.button-section-two a:hover, .button-section-four a:hover, .card .button-container a:hover {
    color: white;
}
.button-section-two a:hover, .button-section-four a:hover, .card .button-container a:hover {
    color: white;
}
/* portfolio section hover */
.button-section-three a:hover {
    box-shadow: 0 0 1px 0 #FF7F78 inset, 0 0 4px 1px #FF7F78;
    letter-spacing: 1px;
    text-shadow: 1px 3px 1px rgb(255, 127, 120);
    transition: all 0.25s;
}

/* form hover */
input[type="submit"]:hover {
    box-shadow: 0 0 1px 0 #00d7c3 inset, 0 0 4px 1px #00d7c3;
    border: 1px solid #00d7c3;
    letter-spacing: 2px;
    text-shadow: 1px 3px 1px rgba(	0, 215, 195, 1);
}
/* footer hover */
.footer__triangle__back-to-top:hover {
    transform: scaleY(1.25);
    transition: 0.5s;
}
.fa-ghost:hover, .fa-github:hover, .fa-facebook:hover, .fa-spotify:hover {
    color: #FF7F78;
    transform: scale(1.15);
    transition: 0.25s;
}
.footer #elias:hover {
    color: #FFB845;
}
/* HOVER section ENDS */

